*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ltpselfservice/ltpselfservice-common/target/
/ltpselfservice/ltpselfservice-server/target/
/ltpselfservice/ltpselfservice-agent/target/
/ltpselfservice/build/target/
/ltpselfservice/target/
/ltpselfservice/ltploadtest-common/target/
/ltpselfservice/ltploadtest-server/target/
/ltpselfservice/ltploadtest-agent/target/
/ltploadtest/target/
/ltploadtest/build/target/
/ltploadtest/ltploadtest-agent/target/
/ltploadtest/ltploadtest-common/target/
/ltploadtest/ltploadtest-server/target/
/Apica_Loadtest_TeamCity_Plugin/target/
/Apica_Loadtest_TeamCity_Plugin/build/target/
/Apica_Loadtest_TeamCity_Plugin/ltploadtest-agent/target/
/Apica_Loadtest_TeamCity_Plugin/ltploadtest-common/target/
/Apica_Loadtest_TeamCity_Plugin/ltploadtest-server/target/